body {
    background-color: #222f3e;
    font-family: 'Roboto', sans-serif;
    color: white;
}
.header {
    position: sticky;
    top: 0px;
    margin: 0px;
    padding: 0px;
    background-color: #222f3e;
}
.navbar {
    display: flex;
    align-items: center;
}
.item {
    display: inline-block;
}
.navbar a {
    padding: 20px;
    font-size: 20px;
}
a {
    color: white;
    text-decoration: none;
}
.right {
    margin-left: auto;
}
.burger {
    display: none;
}

@media only screen and (max-width: 768px) {
    item .toggle {
        flex-direction: column;
        display: flex;
        background-color: pink;
    }
    .navbar {
        display: flex;
        flex: 1;
    }
    .item {
        display:none;
    }
    .safe {
        display: flex;
    }
    .right item {
        margin-left:0;
    }
    
}
