body {
    background-color: #252839;
    font-family: 'Roboto Slab', serif;
    color: #b5b5b7;
    margin: 0px;
    font-size: 17px;
}
a {
    color: #b5b5b7;
}
main { 
    margin: 0px 40px;
}

.header {
    position: sticky;
    top: 0px;
    background-color: #252839;
    height: 75px;
}
.navigation {
    display: flex;
    font-size: 18px;
    justify-content: space-between;
}

.logo  {
    font-size: 28px;
    list-style-type: none;
    padding: 18px;
    margin-left: 20px;
    color: #f2b632;
    text-decoration: none;
}

.nav-left {
    margin-right: auto;
    padding-left: 0px;
}
.nav-right {
    margin-right: 20px;
}
.nav-item {
    display: inline-flex;
    padding: 9px;
    list-style-type: none;
}
.nav-item a {
    text-decoration: none;
    color:#b5b5b7;
}
.nav-item a:hover {
    color: #f2b632;
}


@media only screen and (max-width:700px) {
    .header {
        position: static;
        min-width: 480px;
        height: 300px;
        width: 100%;
        margin: 0px;
    }
    .navigation  {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .nav-left {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0px;
    }
    .nav-right {
        display: flex;
        flex-direction: column;
        margin: 0px;
        padding: 0px;
    }
    .nav-item a{    
        width: 200px;
        text-align: center;
        border-style: groove;
    }
    .logo {
        margin: 0px;
    }
}