body {
    background-color: #222f3e;
    font-family: 'Roboto', sans-serif;
    color: white;
}
.header {
    position: sticky;
    top: 0px;
    margin: 0px;
    padding: 0px;
    background-color: #222f3e;
}
.navbar {
    display: flex;
    height: 60px;
    align-items: center;
}
.item {
    display: inline-block;
}
.navbar a {
    padding: 20px;
    font-size: 20px;
}
a {
    color: white;
    text-decoration: none;
}
.right {
    margin-left: auto;
}
<<<<<<< HEAD

@media only screen and (max-width: 768px) {
    .navbar, .item {
        flex-direction: column;
    }
    .item {
        display:none;
    }
    .right item {
        margin-left:0;
    }
}
=======
>>>>>>> a422e7ae7db0246f871b12a2b410f049d0f37be1
