{% load static from static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% block imports %}
    {% endblock imports %}
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap" rel="stylesheet">
    <title>MovieSeries</title>
</head>

<body>
    <header class="header">
        <nav class="navigation">
            <a href="{% url 'core:index' %}" class="logo">MovieSeries</a>
            <ul class="nav-left">
                {% if user.is_authenticated %}
                <li class="nav-item"><a href="{% url 'mylist:list'%}">Moja lista</a></li>
                {% endif %}
                <li class="nav-item"><a href="{% url 'movieseries:index' %}">Przegladaj</a></li>
            </ul>
            <ul class="nav-right">
                {% if user.is_authenticated %}
                <li class="nav-item"><a href="{% url 'accounts:myprofile' %}">Profil</a></li>
                <li class="nav-item"><a href="{% url 'accounts:logout' %}">Wyloguj</a></li>
                {% else %}
                <li class="nav-item"><a href="{% url 'accounts:login' %}">Logowanie</a></li>
                <li class="nav-item"><a href="{% url 'accounts:register' %}">Zarejestruj się</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}

        {% endblock content %}
    </main>
    <footer>

    </footer>
</body>

</html>